<p><%= (t 'api_params') %></p>
<pre class='code_snippet'><code><b>GET</b> JSON
WIP
</code></pre>
<p><%= (t 'api_response') %></p>
<pre class='code_snippet'><code><b><%= t('success') %>:</b><%= (t 'code')%> 201
WIP
</code></pre>

<pre class='code_snippet'><code><b><%= t('failure') %>: </b><%= (t 'code')%> 406
WIP
</code></pre>