<h2>Últimas Receitas</h2>

<p><%= link_to 'Enviar uma receita', new_recipe_path %></p>
<p><%= link_to 'Cadastrar um tipo de receita', new_recipe_type_path %></p>
<p><%= link_to 'Cadastrar cozinha', new_cuisine_path %></p>
<p><%= link_to 'Cadastrar lista', new_list_path %></p>
<p><%= link_to 'Pesquisar receita', search_recipes_path %></p>

<%= render 'most_recents'%>