<h1>Pesquisar receita</h1>

<%= form_tag search_recipes_path, method: 'get' do %>
  <%= label_tag :title, 'Titulo:' %>
  <%= text_field_tag(:title) %>
  <%= submit_tag 'Pesquisar' %>
<% end %>

<% if @recipes.nil? %>
  <%= flash[:failure] %>
<% elsif @recipes.empty? %>
  <%= flash[:failure] %>
<% else %>
  <h3><%= 'Resultados da busca:' unless @recipes.nil? %></h3>
  <%= render 'recipes' %>
<% end %>
