<h1>Cadastrar nova cozinha</h1>

<% if @cuisine.errors.any? %>
  <%= flash[:failure] %>
<% end %>

<%= form_for @cuisine do |f| %>

  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.submit 'Cadastrar' %>
<% end %>

<%= link_to (t 'back'), root_path %>
