<h1><%= "#{(t 'profile_of')} #{@user.name}" %></h1>

<p><%= link_to "#{(t 'lists_of')} #{@user.name}", user_lists_path %></p>
<p><%= link_to (t 'register_list'), new_list_path %></p>

<h3><%= "#{(t 'recipes_of')} #{@user.name}" %></h3>

<%= render 'recipes/recipes' %>