<h1><%= "#{(t 'profile_of')} #{@user.name}" %></h1>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <hr>
    <h3><%= "#{(t 'admin_only')}:" %></h3>
    <p><%= link_to (t 'register_recipe_type'), new_recipe_type_path %></p>
    <p><%= link_to (t 'register_cuisine'), new_cuisine_path %></p>
    <hr>
  <% end %>
<% end %>

<p><%= link_to "#{(t 'lists_of')} #{@user.name}", user_lists_path %></p>
<p><%= link_to (t 'register_list'), new_list_path %></p>

<h3><%= "#{(t 'recipes_of')} #{@user.name}" %></h3>

<%= render 'recipes/recipes' %>