<div class='api_doc_page'>
  <h2><%= (t 'api_doc') %></h2>

  <h5><p><%= (t 'api_intro') %></p></h5>

  <br>
  <%= render 'pages/api/create_recipe' %>
<br>
  <h4><%= t('api_show_recipe_type') %></h4>
  <%= render 'pages/api/show_recipe_type' %>

</div>
