<h1>Cadastrar novo tipo de receita</h1>

<% if @recipe_type.errors.any? %>
  <%= flash[:failure] %>
<% end %>

<%= bootstrap_form_for @recipe_type, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-4" do |f| %>
  <%= f.text_field :name %>
  <%= f.submit 'Cadastrar' %>
<% end %>
<br>
<%= link_to (t 'back'), root_path %>
