<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-2">
        <%= render 'layouts/side_menu'%>
      </div>
      <div class="col">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
