<!DOCTYPE html>
<html>
  <head>
    <title>Social Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  </head>

  <body>
    <% unless @api_doc_custom_view %>
      <div class='main'>
    <% else %>
      <div class='api_doc_main'>
    <% end %>
    
      <%= render 'layouts/navbar' %>
      
      <div class="row">

        <% unless @api_doc_custom_view %>
          <div class="col-2">
            <%= render 'layouts/side_menu' %>
          </div>
        <% end %>

        <div class="col">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
          <div class="content">
            <%= yield %>
          </div>
        </div>

      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
