<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <% if user_signed_in? %>
      <%= "Você esta logado como: #{current_user.email}" %>
      <%= link_to 'Minhas receitas', my_recipes_path %>
      <%= link_to 'Minhas listas', my_lists_path %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
